<h1>Controle de gastos</h1>
<div class="container-tabela">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor</th>
            <th scope="col">Motivo</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>25</td>
            <td>Teste</td>
            <td>22/10/21</td>
          </tr>
        </tbody>
      </table>
</div>
