<h1>Controle de gastos</h1>
<div class="container-tabela">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Motivo</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pagamento of pagamentos; let i = index" (click)="deletPagamento(i)">
            <th scope="row">{{i + 1}}</th>
            <td>{{pagamento.data}}</td>
            <td>{{pagamento.motivo}}</td>
            <td>{{pagamento.valor}}</td>
          </tr>
          <tr>
            <th scope="row">{{pagamentos.length + 1}}</th>
            <td>{{pagamentos[pagamentos.length - 1]?.data}}</td>
            <td>Soma</td>
            <td>{{pagamentoTotal.valor}}</td>
          </tr>
        </tbody>
      </table>
      <form (submit)="addPagamento()">
        <div class="row">
          <div class="col-md-12">
            <input type="number" class="form-control" placeholder="Valor" [(ngModel)]="pagamentoTemp.valor" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Motivo" [(ngModel)]="pagamentoTemp.motivo" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-success" style="font-size: 2rem;">Adicionar</button>
        </div>
      </form>
      <div style="text-align: center;">
        <button class="btn btn-primary" style="font-size: 2rem;" (click)="salvarPagamentos()">Salvar</button>
      </div>
      <div style="text-align: center;">
        <button class="btn btn-warning" style="font-size: 2rem;" (click)="resetPagamentos()">Resetar</button>
      </div>

</div>
